<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>SpotifyApp</title>
    <link rel="stylesheet" href="css/error.css">
</head>
<body>
	<div class="container">
        <h2 class="title-error">Error: <%=error%></h2>
        <p class="msg-error">Oops! Looks like we encountered an error. Don't worry, click the button to restart.</p>
		<button class="green-button">Start over</button>
	</div>
    <script src="js/error.js"></script>
</body>
</html>