body {
	background-color: #222;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
    display: flex; 
	align-items: center; 
	justify-content: center; 
	height: 100%; 
	margin: 0; 
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    min-height: min-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	background-color: #333;
    border-radius: 20px;
    width: 300px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    scale: 0.9;
}

.title {
	font-size: 29px;
	margin-top: 0;
}

.grey-box {
    display: flex;
    flex: 1;
    
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: #222;
    height: fit-content;
    max-height: 240px;
    overflow: auto;
    width: 320px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.playlist-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #555;
    border-radius: 5px;
    gap: 20px;
    width: 280px;
    
    scale: 0.95;
    cursor: pointer;
    border: none;
}

.playlist-container img{
    width: 90px;
    height: 90px;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.playlist-nome{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.playlist-owner{
    font-size: 14px;
    align-self: self-start;
}

.playlist-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.device-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #555;
    border-radius: 5px;
    row-gap: 20px;
    width: 280px;
    margin-top: 0px;
    scale: 0.95;
    cursor: pointer;
    border: none;
}

.device-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
}

.device-nome{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.playlist-type{
    font-size: 14px;
    align-self: self-start;
}

.button {
    background-color: #168a3f;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 300px;
}