body {
	background-color: #222;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
  display: flex; 
	align-items: center;
	justify-content: center; 
	height: 100%; 
	margin: 0; 
}
  
.container {
  background-color: #333;
  border-radius: 20px;
  margin: 50px auto;
  width: 300px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  scale: 0.9;
}


.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  margin-bottom: 30px;
}

.buttons {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.button {
  background-color: #168a3f;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 300px;
}


.grey-box {
  background-color: #555;
  height: 300px;
  overflow-y: scroll;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.titulo-tocando{
  margin: 0px;
  font-size: 20px;
  
}

.container-playing {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: #555;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 280px;
  margin-top: 0px;
  
}

.container-playing img {
  width: 90px;
  height: 90px;
  margin-right: 15px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.playing-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.playing-music {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.playing-artist {
  font-size: 14px;
  align-self: self-start;
}

.artist-box {
  display: none;
}

.music box {
  display: none;
}

.grey-box-text {
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 0px;
}

.list {
  line-height: 180%;
  text-align: left;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 260px;
  margin-bottom: 20px;
}

.btnPauseProx {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #555;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pauseProx {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border: none;
  
}
.mute img {
  height: 20px;
}

#muteButton{
  display: none;
}

.alerta-erro{
  display: none;
  text-align: center;
  font-size: 10px;
  color: red;
}
  